# Virtual environment
venv/

# YOLO training outputs (huge)
runs/

# YOLO cache
yolo/labels.cache

# Python cache
__pycache__/
*.pyc

# Streamlit
.streamlit/

# OS junk
.DS_Store
Thumbs.db

# Weights (keep only best.pt if needed later)
*.pt

# Dataset (do not push raw data)
yolo/images/
yolo/labels/
yolo/labels.cache
yolo/labels/bg_unused.cache

# Virtual environments
venv/

# Model weights
*.pth
*.pt

# Datasets
yolo/images/
classification_data/
